body {
    background-color: ghostwhite;       
    
}

.projects {
    width: 250px;
    border: 2px solid slategrey;
    margin: 10px;
    padding: 20px;
}

.navbar {
    color: white;
    font-family: inherit;
}

.full-page {
    text-align: center;
}

#projectsPage {
    display: none;
}

#technologiesPage{
    display: none;
}