body {
    background-color: ghostwhite;     


}

.projects {
    width: 250px;
    border: 2px solid slategrey;
    margin: 10px;
    padding: 20px;
}

.navbar {
    color: white;
    font-family: inherit;
}

.full-page {

    text-align: center;
}

.fullPage {
    margin: 18px;
}

footer {

    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}

.fullPage {
    display: none;
}


a {
    color: #fff;
}