body {
    background-color: ghostwhite;
    height: 100%;   
      
}

.projects {
    width: 250px;
    border: 2px solid slategrey;
    margin: 10px;
    padding: 20px;
}

.nav-link {
    color: white;
    font-family: inherit;
}

.full-page {

    text-align: center;
}

.fullPage {
    margin: 18px;
    overflow: hidden;
}



#footer {

    padding: .75rem 1.25rem;

    background-color: #343a40;
    color: white;
    border-top: 1px solid rgba(0,0,0,.125);
    bottom: 0;

}

