@import "~bootstrap/scss/bootstrap";

// * {
//   margin: 0;
//   padding: 0;
// }

#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 2.5rem;
}

.my-nav {
  min-height: 70px;
  font-size: 16px;
  font-weight: 600;
}

.logo {
font-size: 30px;
}

.my-nav-bar {
  background-color:  #1E88E5 !important;

}

.my-nav {
  color: #fff !important;
}


ul {
  list-style-type: none;
  margin: 15px;
}

#navbarNav {
  justify-content: center;
}

.about-me{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 3rem;
  // background-color: #eee;
}

.myPhoto {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  // margin-bottom: 40px;
}

.photoImg {
  width: 100%;
  height: auto;
}


.techs {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 20px;
  padding: 3rem;
}

 ul > li {
   display: inline-block;
 }

.card-img {
  max-height: 150px !important;
}

#projects-page {
  justify-content: center;
  background-color: #f8f9fa;
  padding: 2rem;
}

#portfolio {
  background-color: #f8f9fa;
}

.card-container {
  margin-left: 10%;
  margin-right: 10%;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  width: 100%;
  margin: 0 auto;
}
.each-card {
  width: 250px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  box-shadow: 0 0 1rem rgba(0,0,0,0.15) !important;
  padding: 16px;
}

.project-title {
  font-size: 1.25rem;
  font-weight: 500;
}

.project-desc {
  font-size: .875rem;
  font-weight: 400;
}

.tech-used {
  font-size: .875rem;
  font-weight: 500;
}

.techLogo {
  width: 100px;
  margin: 10px;
}


#footer {
  position: absolute;
  width: 100%;
  background-color: #eee;
  bottom: -2px;
}

.contactMe-icon {
  font-size: 30px;
  margin: 18px;
}

a {
  all: unset;
}

a {
  cursor: pointer;
}